<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Strains' 
  %>
<% end %>

<div class="pa4">
  <div class="flex flex-column">
    <%= react_component('inventory/strains/StrainApp', {
        locations: @locations
      }) %>
    
    <div class="w-100-m w-80-l bg-white ph3 pt2 pb4">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", inventory_setup_path, class: "db tr ttu link button--font light-grey" %>
      </div>  
    </div>
  </div>
</div>