<% content_for :breadcrumb do %> 
  <h3 class="dark-gray">My Task</h3>
<% end %>

<div class="pa4">
  <%= react_component 'dailyTask/DailyTaskApp', { today: Time.now.beginning_of_day, nutrient_ids: @nutrient_ids }  %>
</div>
