<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Purchasing"%>
<% end %> 

<div class="pa4">
  <h5 class="tl pa0 ma0 h5--font dark-grey ttc">Purchasing</h5>
  
  <%= link_to purchasing_vendors_path, 
      class: 'mt4 w-20 h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' do %>
    Vendors
  <% end %>
</div>