<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Purchasing"%>
<% end %> 

<h1 class="pl4">Purchasing</h1>

<div class="ma4">
  <%= link_to "Vendors", purchasing_vendors_path %>
</div>