<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Facility Dashboard' %>
<% end %>
<div class="mh4 mt4">
  <%= image_tag "dummy/facility-dashboard.png", style: 'max-width: 1300px; width: 100%;' %>
</div>