<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], ["Dashboard", root_path], ['Inventory Setup', inventory_setup_path], 'Plant Inventory' %>
  </div>
<% end %>


<div class="pa4">
  <div class="flex flex-column justify-between bg-white">
    
    <div class="ph5 pv3 ba bt-0 bb-1 br-0 bl-0 b--black-10">
      <h2 class="tl pa0 ma0 fw4 dark-gray">Active Plant Inventory</h2>
    </div>

    <div class="ph5 pv4 f6">

      <%= react_component('inventory/plant_setup/PlantSetupApp', {
          strain_types: ['Hybrid', 'Indica', 'Sativa'],
          facilities: Facility.completed.map{|x| { id: x.id.to_s, name: x.name  }}
        }) %>
    </div>
  </div>
</div>