<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Plant Inventory' 
  %>
<% end %>


<div class="pa4">
  <div class="flex flex-column">
    <%= react_component('inventory/plant_setup/PlantSetupApp', {
        strain_types: @strain_types,
        locations: @locations
      }) %>
  </div>
</div>