{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-class-properties",
      {
        "loose": true
      }
    ],
    "syntax-dynamic-import",
    "transform-object-rest-spread"

  ]
}
