<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Materials"%>
<% end %>

<h1 class="pl4">Materials</h1>

<div class="ma4">
  <%= link_to "Items", materials_items_path %>
</div>

<div class="ma4">
  <%= link_to "Strains", materials_strains_path %>
</div>