<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "Materials"%>
<% end %>

<div class="pa4">
  <h5 class="tl pa0 ma0 h5--font dark-grey ttc">Materials</h5>

  <div class="flex flex-row flex-wrap mt4">
    <div class="w-50 w-30-m w-20-l mr4 mb4">
      <%= link_to materials_items_path, 
          class: 'h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' do %>
        Items
      <% end %>
    </div>
  </div>
</div>