<div class="fl w-40 flex flex-column">
  <h5 class="tl pa0 ma0 h5--font dark-grey">Select Plant and Location</h5>
  <p class="mt2 body-1 grey">
  </p>
  <div class="w-100 flex justify-end">
    <a href="<%= cultivation_batch_path(params[:id]) %>"class="pv2 ph3 bg-orange white bn br2 ttu tracked link dim f6 fw6 pointer">Next</a>
  </div>
</div>