<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      'Cultivation Batches', 
      'Locations & Tasks' 
  %>
<% end %>

  <div class="pa4">
      <div class="fl w-100 flex flex-column">
        <%= react_component 'cultivation/gantt_setup/GanttSetup', { batch_id: @batch.id.to_s, batch: @batch_attributes} %>
      </div>
  </div>
