<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      'Cultivation Batches', 
      'Locations & Tasks' 
  %>
<% end %>
        <script src="/assets/DlhSoft.ProjectData.GanttChart.HTML.Controls.js" type="text/javascript"></script>
        <script src="/assets/DlhSoft.Data.HTML.Controls.js" type="text/javascript"></script>
        <script src="/assets/DlhSoft.ProjectData.GanttChart.HTML.Controls.Extras.js" type="text/javascript"></script>


  <div class="pa4">
      <div class="fl w-100 flex flex-column">
        <%= react_component 'cultivation/gantt_setup/GanttSetup', { batch_id: @batch.id.to_s, batch: @batch_attributes} %>
      </div>
  </div>
