<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], ["Dashboard", root_path], 'Cultivation Batch' %>
  </div>

  <div class="flex flex-row items-center">
    <i class="material-icons grey f6 mr3 dim">notifications</i>

    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 h2 w2 mr3 dib" alt="avatar">

    <span class="ttc subtitle-2 grey">User Name</span>

    <i class="material-icons grey dim ml2">keyboard_arrow_down</i>
  </div>
<% end %>


<div class="pa4">
  <div class="flex flex-column justify-between bg-white">
    
    <div class="ph5 pv3 ba bt-0 bb-1 br-0 bl-0 b--black-10">
      <h2 class="tl pa0 ma0 fw4 dark-gray">Batches</h2>
    </div>

    <div class="ph5 pv4 f6">
      <% # render 'react_slide_panel' %>
      <% # react_component 'inventory/plant/components/PlantList' %>

      <%# <%= react_component 'inventory/plant_setup/PlantSetupApp' %>
    </div>
  </div>
</div>