<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], "Cultivation Setup" %>
  </div>
<% end %>





<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-40 flex flex-column">
        <%= react_component 'cultivation/batches_setup/BatchSetupApp', 
          {
            plants: Constants::PLANT_SOURCE_TYPES.map{|a| {value: a[:code], label: a[:name]}},
            strains: Common::Strain.all.map{|a| {value: a['name'], label: a['name']}},
            facilities: Facility.all.map{|a| {value: a['id'], label: a['code']}},
            grow_methods: Constants::GROW_METHODS.map{|a| {value: a[:code], label: a[:name]}},
          } 
        %>
      </div>
    </div>
  </div>
</div>