<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], "Cultivation Setup" %>
  </div>
<% end %>





<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-40 flex flex-column">
        <%= react_component 'cultivation/batches_setup/BatchSetupApp', 
          {
            plants: [
              {value: 'clones_from_mother', label: 'Clones from mother plant'}, 
              {value: 'seeds', label: 'Seeds'}, 
              {value: 'clones_purchased', label: 'Pre-purchased clones'}
            ],
            strains: Common::Strain.all.map{|a| {value: a['name'], label: a['name']}},
            facilities: Facility.all.map{|a| {value: a['id'], label: a['code']}},
            grow_methods: [
                          {value: 'Soil', label: 'Soil'}, 
                          {value: 'Hydrophonic', label: 'Hydrophonic'}, 
                          {value: 'Coco noir', label: 'Coco noir'}
            ]
          } 
        %>
      </div>
    </div>
  
        

  </div>
</div>