<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], "Cultivation Setup" %>
  </div>

  <div class="flex flex-row items-center">
    <i class="material-icons grey f6 mr3 dim">notifications</i>

    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 h2 w2 mr3 dib" alt="avatar">

    <span class="ttc subtitle-2 grey">User Name</span>

    <i class="material-icons grey dim ml2">keyboard_arrow_down</i>
  </div>
<% end %>





<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-40 flex flex-column">
        <%= react_component 'cultivation/batches_setup/BatchSetupApp', 
          {
            plants: [
              {value: 'Clones from mother plant', label: 'Clones from mother plant'}, 
              {value: 'Seeds', label: 'Seeds'}, 
              {value: 'Pre-purchased clones', label: 'Pre-purchased clones'}
            ],
            strains: Common::Strain.all.map{|a| {value: a['name'], label: a['name']}},
            facilities: Facility.all.map{|a| {value: a['id'], label: a['code']}}
          } 
        %>
      </div>
    </div>
  
        

  </div>
</div>