<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], "Cultivation Setup" %>
  </div>
<% end %>

<%= react_component 'cultivation/batches_setup/BatchSetupApp', 
  {
    strains: @strains,
    plantSources: @plant_sources,
    facilities: @facilities,
    growMethods: @grow_methods,
  } 
%>
