<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], "Cultivation Setup" %>
  </div>
<% end %>

<%= react_component 'cultivation/batches_setup/BatchSetupApp', 
  {
    plants: Constants::PLANT_SOURCE_TYPES.map{|a| {value: a[:code], label: a[:name]}},
    strains: Common::Strain.all.map{|a| {value: a.id.to_s, label: "#{a.name} (#{a.strain_type})"}},
    facilities: Facility.completed.map{|a| {value: a.id.to_s, label: "#{a.name} (#{a.code})" }},
    grow_methods: Constants::GROW_MEDIUM.map{|a| {value: a[:code], label: a[:name]}},
  } 
%>
