<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], ["Dashboard", root_path], ['Cultivation Batches', cultivation_batches_path], "Something here" %>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <% if params[:step].present?%>
        <%= react_component 'cultivation/batches_setup/BatchLocationApp', {batch_id: @record.id} %>
      <% else %>
        <div class="fl w-100 flex flex-column">
          <h5 class="tl pa0 ma0 h5--font dark-grey">Task List</h5>
          <p class="mt2 body-1 grey">
          </p>
          <%= react_component 'cultivation/tasks_setup/TaskSetup', {batch_id: @record.id} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
