<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      'Cultivation Batches', 
      'Locations & Tasks' 
  %>
<% end %>


<% if params[:step].present? %>
  <div class="pa4">
    <div class="flex flex-column justify-between bg-white box--shadow">
      <div class="pa4 min-h-600">
    <%= react_component 'cultivation/batches_setup/BatchLocationApp',
      {
        batchId: @record.id.to_s,
        batchSource: @record.batch_source,
        plantType: @plant_selection_type,
        locations: @locations
      } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pa4">
    <%= react_component 'cultivation/tasks_setup/TaskSetup', {batch_id: @record.id.to_s, batch: @batch_attributes} %>
  </div>
<% end %>

