<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 
      ['Inventory Setup', inventory_setup_path], 
      'Sales Products',
      'Converted Products'
  %>
<% end %>

<div class="pa4">
  <div class="pa4 mb4 bg-white w-80">
    <h1 class="mt0 mb4 f3 fw4 dark-gray">
      Converted Product
    </h1>
    <p class="mb3 lh-copy f5 grey"> 
      Combine harvest package with other materisl to create new sales product.
    </p>
  </div>

  <%= render partial: 'setup_navigation', locals: { selected: 'convert_products' } %>
  
  <div class="flex flex-column">
  
    <%= react_component('inventory/sales_products/ConvertProductSetupApp', {
      sales_catalogue: @sales_catalogue,
      breakdown_uoms: @breakdown_uoms,
      scanditLicense: @scanditLicense,
      facility_id: params[:facility_id]
    }) %>
    <div class="w-100 bg-white ph3 pt2 pb4">
      <div class="dim flex flex-row items-center pointer">
        <i class="material-icons md-light-gray">keyboard_arrow_left</i>
        <%= link_to "Back", inventory_setup_path, class: "db tr ttu link button--font light-grey" %>
      </div>  
    </div>
  </div>
</div>
