<div class="pa4 mb4 bg-white w-80">
  <h1 class="mt0 mb4 f3 fw4 dark-gray">
    Non-Sales Item
  </h1>
  <p class="mb3 lh-copy f5 grey w-60">
    Any item that you want to keep track such as fixed assets or does not fit any category above (i.e. Office Supplies).
  </p>
</div>
