<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Cultivation' %>
<% end %>

<% if RoleCheck.call(current_user, Constants::APP_MOD_ALL_TASKS).result[:read] == true %>
  <%= react_component 'cultivation/dashboards/TasksDashboardApp',
    {
      defaultFacilityId: current_default_facility&.id.to_s,
      currentFacilityId: (params[:facility_id].blank? || params[:facility_id] == "All" ? current_shared_facility_ids.map{|x| x.to_s} : current_facility&.id.to_s),
      currentTime: Time.current,
      taskPermission: RoleCheck.call(current_user, Constants::APP_MOD_ALL_TASKS).result
    }
  %>
<% else %>
  <div class="w-100 bg-white ph3 pt2 pb4">
      <%= render partial: 'layouts/no_permission' %>
    </div>
<% end %>