<%= react_component 'cultivation/dashboards/PlantsDashboardApp',
  { defaultFacilityId: current_default_facility&.id.to_s }
%>
<div class="mh4 mt4">
  <%= image_tag "dummy/cult-plants.png", style: 'max-width: 1300px; width: 100%; ' %>
</div>
