<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>
<div class="mh4 mt4">
  <%cost_permission = RoleCheck.call(@current_user, Constants::APP_MOD_COST).result[:read] == true %>
  <%= react_component 'manager_dashboard/ManagerDashboardApp', {
    cost_permission: cost_permission,
    batches: @batches,
    facilityId: selected_facilities_ids_str,
  } %>
</div>
