<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>

<div class="ph4">
  <div>
    <h2>Schedules</h2>
    <div class="pa2 ba">
      list of batch schedules
    </div>
  </div>

  <div>
    <h2>Plant Inventory</h2>
    <div class="pa2 ba">
      Summary of Plant Inventory
    </div>
  </div>

  <div>
    <h2>Facility</h2>
    <div class="pa2 ba">
      Summary of occupancy of each Facility
    </div>
  </div>

  <div>
    <h2>Production Cost</h2>
    <div class="pa2 ba">
      Production Cost
    </div>
  </div>

  <div>
    <h2>Resource Management</h2>
    <div class="pa2 ba">
      Resource Management
    </div>
  </div>

  <div>
    <h2>Product Output</h2>
    <div class="pa2 ba">
      Final product output / sales product
    </div>
  </div>

  <div>
    <h2>Yield</h2>
    <div class="pa2 ba">
      Measure yield per square foot
    </div>
  </div>

  <div>
    <h2>Issues Reported</h2>
    <div class="pa2 ba">
      Dashboard of issues reported
    </div>
  </div>
</div>
