<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>

<div class="mh4 mt4">
  <%= react_component 'manager_dashboard/ManagerDashboardApp', {batches: @batches, facilityId: current_facility&.id.to_s} %>
</div>