<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>

<div class="mh4 mt4">
  <%= image_tag "dummy/cultivation-dashboard-cropped.png", style: 'max-width: 1300px; width: 100%;' %>
</div>


<div class="mh4 mt4">
  <%= react_component 'manager_dashboard/ManagerDashboardApp', {batches: @batches} %>
</div>