<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Employee' %>
<% end %>
<div class="mh4 mt4">
  <%= image_tag "dummy/main-resources.png", style: 'max-width: 1300px; width: 100%;' %>
</div>

<div class="pa4">
    <%= react_component('people_dashboard/PeopleDashboardApp', {
        facility_id: current_facility.id.to_s
    }) %>
</div>