<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Employee' %>
<% end %>
<div class="mh4 mt4">
  <%= react_component 'people_dashboard/PeopleDashboardApp',
    {
      defaultFacilityId: current_default_facility&.id.to_s,
      currentFacilityId: current_facility&.id.to_s,
      currentTime: Time.current,
    }
  %>
</div>