<div class="ph4">
  <% content_for :breadcrumb do %>
    <div>
      <%= breadcrumbs "Home" %>
    </div>
  <% end %>

  <div class="ph4 bg-white ma4 items-center pb3 pt3">
    <div class="pt4 mb5 b--black-10">
        <b class="db f3 mb1">Complete System Setup (2/13)</b>
        <div class="pt3">
            <div class='bg-moon-gray br-pill overflow-y-hidden' style="height: 10px">
                <div class='bg-orange br-pill shadow-1' style="width: 10%; height: 10px" ></div>
            </div>
        </div>
        
    </div>
    
    <article class="center bg-white br3 pa3 ph0-1 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none orange"><i class="material-icons">
                check_circle_outline
                </i>
                </a>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Review and confirm general company settings</span>
                    <span class="f5 db black-70">Time zone, unit of measurements, and other thing like that are set here</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ba bw1 ph3 pv2 mb2 dib orange">Review</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Setup Grow Method</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Setup Grow phases</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Review and add unit of masurement</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Set Raw Materials Type</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Invite your teammates</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Create, assign roles and permissions</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">User</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Setup facilities, rooms and shelves for proper planting</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Active plants inventory</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Packages inventory</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Add raw materials</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Other inventory</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    <article class="center bg-white br3 pa3 ph0-1 pa2 mv3 ba b--orange bw1 pr3">
        <div class="flex items-center">
            <div class="fl w-10">
                <button class="f6 link grow ba bw1 dib black b--none grey">
                    <i class="material-icons">check_circle_outline</i>
                </button>
            </div>
            <div class="fl w-80">
                <div class="flex-auto">
                    <span class="f4 db black">Setup batches</span>
                    <span class="f5 db black-70">Lorem ipsum dolor sit amet, vel te ceteros luptatum atomorum</span>
                </div>
            </div>
            <div class="fl w-10 tr">
                <a href="#" class="f4 link grow br2 ph3 pv2 mb2 dib white bg-orange">Start</a>
            </div>
        </div>
    </article>
    
  </div>

  </div>
</div>

