<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Product' %>
<% end %>
<div class="pa4 mw1200">
  <div class="pb4">
    <%= image_tag 'dummy/product-orders.png', class: 'w-100' %>
  </div>
</div>