<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Home",root_path], 'Dashboard' %>
<% end %>



<div class="ba b--light-gray pa3 bg-white">
  <div class='flex justify-between'>
    <div><h1 class='f5 fw6 ml4'>Overall Info</h1></div>
    <div class='flex'>
      <h1 class='f5 fw6'>Weekly</h1>
      <i class='material-icons grey mr2 dim md-21 pointer mt2'>
        keyboard_arrow_down
      </i>
    </div>
  </div>

  <div class='flex justify-between mt2'>
    <div class='flex br b--light-gray' style='flex: 1 1 auto'>
      <i class='material-icons mt3 ml5 orange mr3 dim md-48 pointer mt2'>
        check_circle
      </i>
      <div>
        <h1 class='f5 fw6 grey'>Worked hours</h1>
        <b class='f3 fw6'>30</b>
      </div>
    </div>
    <div class='flex br b--light-gray' style='flex: 1 1 auto'>
      <i class='material-icons mt3 ml5 orange mr3 dim md-48 pointer mt2'>
        location_on
      </i>
      <div>
        <h1 class='f5 fw6 grey'>On time arrivals</h1>
        <b class='f3 fw6'>30</b>
      </div>
    </div>
    <div class='flex br b--light-gray' style='flex: 1 1 auto'>
      <i class='material-icons mt3 ml5 orange mr3 dim md-48 pointer mt2'>
        assignment
      </i>
      <div>
        <h1 class='f5 fw6 grey'>Tasks completed</h1>
        <b class='f3 fw6'>30</b>
      </div>
    </div>
    <div class='flex' style='flex: 1 1 auto'>
      <i class='material-icons mt3 ml5 orange mr3 dim md-48 pointer mt2'>
        assignment_turned_in
      </i>
      <div>
        <h1 class='f5 fw6 grey'>Tasks completed on time</h1>
        <b class='f3 fw6'>30</b>
      </div>
    </div>
  </div>

</div>


<div class='flex mt4'>

  <div class='w-60'>
    <div class="ba b--light-gray pa3 bg-white">
      <div class='flex justify-between'>
        <div><h1 class='f5 fw6 ml3'>Working hours</h1></div>
        <div class='flex'>
          <h1 class='f5 fw6'>Daily</h1>
          <i class='material-icons grey mr2 dim md-21 pointer mt2'>
            keyboard_arrow_down
          </i>
        </div>
      </div>
      <%= image_tag 'worker_dashboard_graph.png', height: '380px'%>
    </div>
    <div class="ba b--light-gray pa3 bg-white mt3">
      <div class='flex justify-between'>
        <div><h1 class='f5 fw6 '>Issues</h1></div>
        <div class='flex'>
          <h1 class='f5 fw6'>Opened</h1>
          <i class='material-icons grey mr2 dim md-21 pointer mt2'>
            keyboard_arrow_down
          </i>
        </div>
      </div>
      <ul class="list pl0 pb0">
        <li class="pt2 pb3 pointer">
          <div class="flex items-center justify-start">
            <div class="f6 fw6 silver">ISSUE #00012</div>
            <div class="f5 fw6 ph1">•</div>
            <div class="f6 fw6 green pr2 ttu">open</div>
              <div class="tc ttc">
                <i class="material-icons gold" style="font-size: 18px;">warning</i>
              </div>
            </div>
          <div class="flex pt1 justify-start">
            <div class="fw4 gray" style="font-size: 10px;">Mar 06, 2019, 11:37 AM</div>
          </div>
        </li>
        <li class="pt2 pb3 pointer">
          <div class="flex items-center justify-start">
            <div class="f6 fw6 silver">ISSUE #00013</div>
            <div class="f5 fw6 ph1">•</div>
            <div class="f6 fw6 green pr2 ttu">open</div>
            <div class="tc ttc">
              <i class="material-icons gold" style="font-size: 18px;">warning</i>
            </div>
          </div>
          <div class="flex pt1 justify-start">
            <div class="fw4 gray" style="font-size: 10px;">Mar 06, 2019, 11:37 AM</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class='w-40 ml3'>
    <div class="ba b--light-gray pa3 bg-white">
      <div class='flex justify-between'>
        <div><h1 class='f5 fw6 '>Tasks</h1></div>
        <div class='flex'>
          <h1 class='f5 fw6'>Today</h1>
          <i class='material-icons grey mr2 dim md-21 pointer mt2'>
            keyboard_arrow_down
          </i>
        </div>
      </div>
      <div class='mt2'>
        <div class='flex justify-between'>
          <div class='grey'>
            <h1 class='f5 fw6'>
              Create IDs after clipping
            </h1>
            <b class='f6 fw4'>Mother room</b>
          </div>
          <i class='material-icons orange mr2 dim md-48 pointer mt2'>
            play_circle_filled
          </i>
        </div>
        <div class='flex justify-between mt3'>
          <div class='grey'>
            <h1 class='f5 fw6'>
              Create IDs after clipping
            </h1>
            <b class='f6 fw4'>Mother room</b>
          </div>
          <i class='material-icons orange mr2 dim md-48 pointer mt2'>
            play_circle_filled
          </i>
        </div>
      </div>
      <div class='flex justify-center mt3'>
        <a class='fw6 orange dim pointer'>
          Show More
        </a>
      </div>
    </div>
    <div class="ba b--light-gray pa3 bg-white mt3" style='height: 435px;'>
      <div class='flex justify-between'>
        <div><h1 class='f5 fw6 '>Working Calendar</h1></div>
        <div class='flex'>
          <h1 class='f5 fw6'>Days off</h1>
          <i class='material-icons grey mr2 dim md-21 pointer mt2'>
            keyboard_arrow_down
          </i>
        </div>
      </div>
      <div>
        <style>
          .react-calendar{
            width: 100%;
            border: none;
          }

        </style>

        <%= react_component 'worker_dashboard/dashboardCalendar/DashboardCalendarApp',
          {
            date: Time.current.beginning_of_day
          } %>
      </div>
    </div>
  </div>

</div>


<div class='flex mt4'>

  <div class='w-100'>
    <div class="ba b--light-gray pa3 bg-white">
      <div>
        <h1 class='f5 fw6 '>Payment Details</h1>
      </div>
      <table class="f6 w-100 mw8 mt4" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 tl pb3 pr3 bg-white">Bill</th>
            <th class="fw6 tl pb3 pr3 bg-white">Date</th>
            <th class="fw6 tl pb3 pr3 bg-white">Salary</th>
            <th class="fw6 tl pb3 pr3 bg-white">OT Bonus</th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr>
            <td class="pv3 pr3">Transaction #46256</td>
            <td class="pv3 pr3">05.03.2019</td>
            <td class="pv3 pr3 green">$200</td>
            <td class="pv3 pr3 green">$200</td>
          </tr>
          <tr>
            <td class="pv3 pr3">Transaction #46256</td>
            <td class="pv3 pr3">05.03.2019</td>
            <td class="pv3 pr3 green">$590</td>
            <td class="pv3 pr3 green">$20.90</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
