<div class="pa4 mb4 bg-white w-80">
  <h1 class="mt0 mb4 f3 fw4 dark-gray">
    Setup raw materials
  </h1>
  <p class="mb3 lh-copy f5 grey w-60"> 
    Consumables used for production (soil, lights, nutrients, etc.)
  </p>
</div>
