<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_turbolink: true %>
  <body style="">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="bg-light-green">
      <div class="pa4 bg-light-green">
        <div class="bg-white bn br1">
          <div class="wizard-form">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render "layouts/before_body_end" %>

    <script>
      document.addEventListener('turbolinks:load', function() {
        TurbolinksAnimate.init({ animation: 'fadeinright', element: $_('.wizard-form') });
      });
    </script>
  </body>
</html>

