<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_turbolink: true %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100">
        <div class="main flex flex-column flex-auto">
          <main class="min-vh-100 wizard-form">
            <%= link_to "Continue Later", root_path, class: "absolute right--3 top--3 db h2 w4 ma2 pa2", data: { turbolinks: "false" } %>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
    <script>
      document.addEventListener('turbolinks:load', function() {
        TurbolinksAnimate.init({ animation: 'fadeinright', element: $_('.wizard-form') });
      });
    </script>
  </body>
</html>

