<% content_for :breadcrumb do %>
  <%= breadcrumbs ["Settings", settings_path], "General Settings" %>
<% end %>

<div class="pa4">
  <h5 class="tl pa0 ma0 h5--font dark-grey ttc">General Settings</h5>

  <%= link_to settings_core_unit_of_measures_path, 
      class: 'mt4 w-20 h4 orange subtitle-2 link flex justify-center items-center tc bg-white box--br3 box--shadow grow' do %>
    Unit of Measure
  <% end %>
</div>
