<div class="pa4 mb4 bg-white w-80">
  <h1 class="mt0 mb4 f3 fw4 dark-gray">
    Setup active plant inventory
  </h1>
  <p class="mb3 lh-copy f5 grey w-60">
    Add your existing plant inventories. Do not worry if you are unable to
    add all the records, you can always continue later from the settings
    menu.
  </p>
  <p class="mb3 lh-copy f5 grey w-60">
      We recommend to prioritise to start with <strong>cultivation batches </strong> 
      follow by <strong>mother and clones</strong> so that you can proceed to do
      cultivation planning in the next phase of the setup.
    </p>
</div>
