<div class="w-100 mb3">
  <h1 class="ma0 pa0 f4 fw3">Rooms</h1>
</div>
<div class="w-60">
    <table class="table table-sm table-stripped">
      <thead class="">
        <tr>
          <th scope="col" class="f6">#</th>
          <th scope="col" class="f6">PR #</th>
          <th scope="col" class="f6">PR Date</th>
          <th scope="col" class="f6">Requester</th>
          <th scope="col" class="f6">From</th>
          <th scope="col" class="f6 tr">Amount, RM</th>
          <th scope="col" class="f6 tc">Status</th>
          <th scope="col" class="f6">PO #</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="f6" scope="row">1</th>
          <td class="f6">
            <a href="#">PR001</a>
          </td>
          <td class="f6">2018-05-24</td>
          <td class="f6">Jane</td>
          <td class="f6">Sales</td>
          <td class="f6 tr">5,640.00</td>
          <td class="f6 tc">New</td>
          <td class="f6"></td>
        </tr>
        <tr>
          <th class="f6" scope="row">2</th>
          <td class="f6">
            <a href="#">PR002</a>
          </td>
          <td class="f6">2018-05-24</td>
          <td class="f6">John</td>
          <td class="f6">Sales</td>
          <td class="f6 tr">700.00</td>
          
          <td class="f6 tc">New</td>
          <td class="f6"></td>
        </tr>
      </tbody>
    </table>
</div>