 // w-100 f3 fw6 db tc pv2 bg-light-gray gray"
.availabilty-calendar-title {
  display: block;
  background-color: $whiteSmoke;
  color: var(--gray);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  border-left: solid 1px var(--light-gray);
  border-right: solid 1px var(--light-gray);
  border-top: solid 1px var(--light-gray);
}

.react-calendar.availabilty-calendar {

  border-left: solid 1px var(--light-gray);
  border-right: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);

  .react-calendar__month-view__weekdays {
    color: gray;
    font-size: 1.1em;
    font-weight: 400;
  }

  .react-calendar__month-view__weekdays__weekday {
    padding: 0.6em;
    text-align: center;
  }

  .react-calendar__tile {
    outline: none;
    height: 64px;
    width: 102px;
    border-top: solid 0.01em var(--light-gray);
    border-left: solid 0.01em var(--light-gray);
  }

  .react-calendar__tile--active {
    background-color: white;

    .react-calendar__tile__content {
      color: var(--white);
      background-color: var(--orange)
    }
  }

  .react-calendar__tile:nth-child(7n+1) {
    border-left: none;
  }

  $tileContentFontSize: 1.5em;
  $tileContentSize: 1.8em;

  .react-calendar__tile__content {
    font-size: $tileContentFontSize;
    display: inline-block;
    width: $tileContentSize;
    height: $tileContentSize;
    line-height: $tileContentSize;
    border-radius: $tileContentSize/2; 
    color: var(--gray);
    font-weight: 600;
    cursor: pointer;
  }

  .react-calendar__tile__content:hover {
    color: var(--white);
    background-color: rgba(246, 104, 48, 0.75);
  }

  .react-calendar__month-view__days__day {
    position: relative;
    text-align: center;
    time {
      padding: 1px;
      color: var(--gray);
      position: absolute;
      left: 2px;
      top: 1px;
    }
  }
}
