$buttonHeight1: 38px;
$buttonHeight2: 46px;

.btn {
  display: inline-block;
  height: $buttonHeight1;
  padding: 0 2em 0 2em;

  outline-color: $orange;
  border-radius: 0.22em;
  cursor: pointer;

  line-height: $buttonHeight1 - 2px;
  letter-spacing: 0.0652em;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}


.btn--primary {
  border: 1px solid $orange;
  background-color: $orange;
  color: $white;
}

.btn--primary:hover {
  background-color: $darkOrange;
  border: 1px solid $darkOrange;
}

.btn--secondary {
  background-color: $white;
  color: $orange;
  border: 1px solid $lightGrey;
}

.btn--secondary:hover {
  color: $darkGrey;
}

.btn--lite {
  background-color: $white;
  color: $grey;
  border: 1px solid $lightGrey;
}

.btn--lite:hover {
  color: $darkGrey;
}

.btn--large {
  height: $buttonHeight2;
  line-height: $buttonHeight2 - 2px;
  font-size: 15px;
}

.btn--slim {
  padding: 0 1.1em 0 1.1em;
}

.btn:disabled,
.btn--disabled,
.btn--primary:disabled,
.btn--secondary:disabled,
.btn--lite:disabled {
  border: none;
  background-color: #EEEEEE;
  color: #707A8B;
  cursor: not-allowed;
}
