.file-uploader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.75em;
  grid-row-gap: 0.50em;
}

.file-uploader__card {
  justify-self: center;
  align-self: center;
}

.file-uploader__card--add {
  border: 1px dashed $lightGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  .material-icons {
    padding: 10px;
  }
}

.file-uploader__card--add:hover {
  border-color: $orange;
  .material-icons {
    color: $orange;
  }
}
