.input {
  height: 2.15rem;
  padding: .2em .5em;
  border: 1px solid $lightGrey;
  border-radius: .25em;
  color: #383838;
}

.input:focus {
  outline: none;
  border: 1px solid $orange;
  box-shadow: 0 0 2px rgba(241, 93, 42, 1);
}

.input--with-icon {
  padding-right: 2.10em;
}

.input--with-icon--2 {
  padding-right: 4.10em;
}

.input__icon {
  margin-left: -2.10em;
  cursor: pointer;
  padding: 0.25em;
}

.input__icon--2 {
  color: $orange;
  margin-left: -2.7em;
  cursor: pointer;
  padding: 0.25em;
}
