.material-icons {
  &.icon--small {
    font-size: 15px;
  }
  &.icon--btn {
    cursor: pointer;
    padding: 4px;
  }
  &.icon--medium {
    font-size: 18px;
  }
  &.icon--rounded {
    border-radius: 50%;
    padding: 4px;
    background-color: $white;
  }
}
