 // w-100 f3 fw6 db tc pv2 bg-light-gray gray"
 .availabilty-calendar-title {
    display: block;
    background-color: $whiteSmoke;
    color: var(--gray);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
  }
  .dot{
    height: 5px;
    width: 5px;
    background-color: var(--orange);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 43%;
  }
  .react-calendar.schedule-calendar {
    border:0;
    font-size:.7em;

    .react-calendar__navigation__label {
      color: $darkGrey;
      font-size: 1rem;
    }
    .react-calendar__navigation button[disabled] {
      background: $white;
    }
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      display: none;
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .react-calendar__tile:enabled:hover{
        background: $white
    }
    .react-calendar__tile--active:enabled:focus{
      background:#fff;
    }
    .react-calendar__month-view__days__day--neighboringMonth{
        .react-calendar__tile__content{
            color: var(--light-gray);
        }
    }
    .react-calendar__month-view__weekdays {
      color: $grey;
      font-size: 1.1em;
      font-weight: 400;
      padding-bottom:1em;
    }
  
    .react-calendar__month-view__weekdays__weekday {
      text-align: center;
      abbr {
        text-decoration: none;
        font-weight: 600;
        color: $grey;
      }
    }
  
    .react-calendar__tile {
      outline: none;
      padding:.2em .5em;
      abbr {
        display: none;
        position: absolute;
        top: 1px;
        left: 3px;
      }
    }
  
    .react-calendar__tile--active {
      background-color: white;
  
      .react-calendar__tile__content {
        color: var(--white);
        background-color: var(--orange)
      }
    }
    .react-calendar__tile--active:enabled:hover {
        background-color: white;
      }
    .react-calendar__tile:nth-child(7n+1) {
      border-left: none;
    }
  
    $tileContentFontSize: 1.5em;
    $tileContentSize: 2em;
  
    .react-calendar__tile__content {
      display: inline-block;
      width: $tileContentSize;
      height: $tileContentSize;
      line-height: $tileContentSize;
      border-radius: $tileContentSize/2; 
      color: $darkGrey;
      font-size: 0.65rem;
      font-weight: 600;
      cursor: pointer;
    }
  
    .react-calendar__tile__content:hover {
      color: var(--white);
    }

    $weekRowPadding: 0.25rem;
    .react-calendar__month-view__days__day {
      position: relative;
      text-align: center;
      padding-top: $weekRowPadding;
      padding-bottom: $weekRowPadding;
    }
  }
