:root {
  --orange: #F66830;
  --dark-orange: #FF7F30;
  --red: #FF4136;
  --blue: #357EDD;
  --green: #19A974;
  --yellow: #FFC600;
  --light-yellow: #FEFFD8;
  --black: #393939;
  --dark-gray: #2E3B4E;
  --gray: #707A8B;
  --grey: #707A8B;
  --light-gray: #C7C7C7;
  --light-grey: #C7C7C7;
  --white: #FFFFFF;
  --white-smoke: #F3F5F7;
  --silver: #979797;
}

hr {
  border: none;
  border-top: 1px solid #E9E9E9;
  height: 1px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #ccc;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// z-index for carousel
$fogZindex: 20;
