:root {
  --orange: #F66830;
  --red: #FF4136;
  --blue: #357EDD;
  --green: #19A974;
  --yellow: #FFC600;
  --black: #393939;
  --dark-gray: #2E3B4E;
  --gray: #707A8B;
  --light-gray: #C7C7C7;
  --white: #FFFFFF;
  --whiteSmoke: #F3F5F7;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--whiteSmoke);
}

#root, body, html {
  height: 100%;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  border-top: 1px solid #E9E9E9;
  height: 1px;
}

a {
  outline-width: 0;
  outline: 0 !important;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #ccc;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// z-index for carousel
$fogZindex: 20;

