$carouselBtnSize: 32px;  // The left & right arrows
$carouselMainButtonHeight: 46px;
$carouselSecondaryButtonHeight: 46px;
$carouselSecondaryButtonWidth: 160px;
$carouselWidth: 910px;
$carouselHeight: 345px;
$carouselCardWidth: 188px;
$carouselCardGutter: 19px;
$carouselEmptyHeight: 148px; // Height of carousel when it's empty

.carousel-wrapper {
  width: $carouselWidth;
}

.carousel-group {
  width: $carouselWidth;
  margin-bottom: 40px;
}

.carousel-group__body {
  padding-top: 12px;
}

.carousel-group--empty {
  .carousel {
    border: 0.1em dashed rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
  }

  .carousel__button {
    display: none;
  }
}

.carousel {
  width: $carouselWidth;
  height: $carouselHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel--empty {
  height: unset;
}

.carousel__body {
  height: 100%;
  flex: 1;
}

.carousel__card {
  background-color: #FFF;
  width: $carouselCardWidth;
  height: $carouselHeight;
  border-width: 1px;
}

.carousel__card--add {
  background-color: #FFF;
  height: $carouselHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  box--shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  border-radius: 0.3em;
  border-style: dashed;
  border-color: var(--light-gray);
}

.carousel__body--less {
  .carousel__card {
    float: left;
    margin-right: $carouselCardGutter;
    &.carousel__card--center {
      float: inherit;
      margin: 0 auto;
      height: $carouselEmptyHeight;
      &.carousel__card--add {
        border: none;
        box--shadow: inherit;
      }
    }
  }
}

.carousel__button {
  background-color: #F66830;
  width: $carouselBtnSize;
  height: $carouselBtnSize;
  border-radius: $carouselBtnSize / 2;
  text-align: center;
  cursor: pointer;
  .material-icons {
    line-height: $carouselBtnSize;
  }
}

.carousel__main_button {
  height: $carouselMainButtonHeight;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  line-height: $carouselMainButtonHeight;
  background-color: var(--orange);
}

.carousel__secondary_button {
  display: inline-block;
  height: $carouselSecondaryButtonHeight;
  width: $carouselSecondaryButtonWidth;
  border-radius: 4px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  line-height: $carouselSecondaryButtonHeight;
  background-color: var(--orange);
}

.carousel__button--left {
  margin-right: 20px;
}

.carousel__button--right {
}

