$carouselBtnSize: 32px;  // The left & right arrows
$carouselBtnFontSize: 14px;
$carouselMainButtonHeight: 36px;
$carouselWidth: 910px;
$carouselHeight: 345px;
$carouselCardWidth: 188px;
$carouselCardGutter: 19.5px;
$carouselEmptyHeight: 148px; // Height of carousel when it's empty

.carousel-wrapper {
  width: $carouselWidth;
}

.carousel-group {
  width: $carouselWidth;
  margin-bottom: 40px;
}

.carousel-group__body {
  padding-top: 12px;
}

.carousel-group--empty {
  .carousel {
    border: 0.1em dashed rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
  }

  .carousel__button {
    display: none;
  }
}

.carousel {
  width: $carouselWidth;
  height: $carouselHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel--empty {
  height: unset;
}

.carousel__body {
  height: 100%;
  flex: 1;
}

.carousel__card {
  background-color: #FFF;
  width: $carouselCardWidth;
  height: $carouselHeight;
  border-width: 1px;
  border-bottom: none;
}

.carousel__card--add {
  background-color: #FFF;
  height: $carouselHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box--shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  border-radius: 0.3em;
  border-style: dashed;
  border-color: var(--light-gray);
}

.carousel__body--less {
  .carousel__card {
    float: left;
    margin-right: $carouselCardGutter;
    &.carousel__card--center {
      float: inherit;
      margin: 0 auto;
      height: $carouselEmptyHeight;
      &.carousel__card--add {
        border: none;
        box--shadow: inherit;
      }
    }
  }
}

.carousel__button {
  background-color: #F66830;
  width: $carouselBtnSize;
  height: $carouselBtnSize;
  border-radius: $carouselBtnSize / 2;
  text-align: center;
  cursor: pointer;
  .material-icons {
    line-height: $carouselBtnSize;
  }
}

.carousel__main_button {
  display: inline-block;
  width: 100%;
  color: var(--white);
  height: $carouselMainButtonHeight;
  line-height: $carouselMainButtonHeight;
  font-size: $carouselBtnFontSize;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
}

.carousel__button--left {
  margin-right: 1rem;
}

.carousel__button--right {
}

.carousel__card__cover {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $fogZindex + 2;
}

.carousel__card__cover--content_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel--active {
  position: relative;
  z-index: $fogZindex + 1;

  .carousel__card--active {
    border: none;
    .carousel__card__cover {
      @extend .carousel__card__cover--content_center;
      border: solid 2px rgba(246, 104, 48, 1);
      border-radius: 4px;
      background-color: rgba(246, 104, 48, 0.5);
      margin-left: -8px;
    }
  }
}

/* Set carousel into select mode */
.carousel--active-select {
  position: relative;
  z-index: $fogZindex + 1;

  /* Rows available to duplicate to */
  .carousel__card__cover {
    @extend .carousel__card__cover--content_center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }

  /* Rows selected to duplicate into */
  .checked .carousel__card__cover {
    border: solid 2px rgba(246, 104, 48, 1);
    border-radius: 4px;
    background-color: rgba(246, 104, 48, 0.5);
    margin-left: -8px;
  }

  /* Add new row card */
  .carousel__card--add,
  /* Row to duplicate from */
  .carousel__card--active {
    .carousel__card__cover {
      @extend .carousel__card__cover--content_center;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.card-checkmark {
  display: none;
}

.checked .card-checkmark {
  display: block;
  pointer-events: none;
}
