/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 130px;
  right: 0;
  top: 25px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content { 
  display: block; 
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}

.show {
  display:block;
}