$orange: var(--orange);
$yellow: var(--yellow);

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn--primary {
  border: 1px solid $orange;
  background-color: $orange;
  color: white;
}

.fog {
  background-color: #ffffffa6;
  width: 100%; 
  height: 100%; 
  z-index: $fogZindex;
  top: 0; 
  left: 0; 
  position: fixed; 
}

.setup_success_card {
  position: relative;
  z-index: $fogZindex + 1;
  margin-left: 20px;
  margin-right: 20px;
  height: 362px;
  width: 378px;
  background-color: var(--white);
  border: 1px solid #E0E5E7;
}

.setup_success_card__header {
  padding: 20px;
  border-bottom: 1px solid #E0E5E7;
}

.setup_success_card__title {
  font-size: 22px;
  letter-spacing: 0.15px;
}

.setup_success_card__body {
  padding: 20px;
}

.setup_success_card__footer {
  padding: 0 20px 10px 20px;
  min-height: 65px;
  width: 100%;
  position: absolute;
  bottom: -10px;
}

.setup_success_card__button {
  float: right;
}

.card-checkmark {
  border-radius: 30px;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.card-checkmark--icon {
  fill: $orange;
}

$iconSize: 32px;
$iconInnerSize: 7px;

.icon-button {
  cursor: pointer;
  border-radius: $iconSize / 2;
  background-color: #FFFFFF;
  width: $iconSize - ($iconInnerSize * 2);
  height: $iconSize - ($iconInnerSize * 2);
  padding: $iconInnerSize;
}

.icon-button--top-right {
  position: absolute;
  background-color: $orange;
  top: 0.5em;
  right: 1em;
}

.icon-button__fill {
  fill: #FFFFFF;
}

.icon-button--close {
  background: transparent;
  .icon-button__fill {
    fill: var(--gray);
  }
}

.confirm-duplicate-button {
  z-index: $fogZindex + 1;
}

@keyframes highlight {
  0% {
    background: $yellow; 
  }
  100% {
    background: none;
  }
}

.highlight {
  animation: highlight 1s;
}
