.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
}

.modal--openned {
  display: block;
  z-index: 1;
}

.modal__content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
