$slidePanelBgColor: #fff;

.rc-slide-panel {
  width: 450px;
  transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $slidePanelBgColor;
  min-height: 100%;
  border-left: 1px solid #cccccc;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 20;
  transition: 0.2s;
}

.rc-slide-panel__close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.rc-slide-panel__body {
  padding-top: 0;
}
