$slidePanelBgColor: #fff;

.rc-slide-panel {
  width: 0; /*500px;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $slidePanelBgColor;
  min-height: 100%;
  border-left: 1px solid #cccccc;
  overflow-x: hidden;
  overflow-y: scroll;
  box--shadow: -10px 0px 15px rgba(0,0,0,0.15);
  z-index: 999999;
  transition: 0.2s;
}

.rc-slide-panel__close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.rc-slide-panel__body {
  padding-top: 0;
}
