// SIZES
$width__sidebar: 210px;

// COLOURS
$sidebar_bg: #FFFFFF;

#sidebar {
  background-color: $sidebar_bg;
  width: $width__sidebar;
  transition: 0.3s;
  
  &.collapsed {
    width: 80px;
    .hide { 
      display: none;
      transition: 1s;
    }

    .show-collapsed {
      display: block;
      transition: 1s; 
    }
  }

  &.uncollapsed {
    .hide { 
      display: block; 
      transition: 1s;
    }

    .show-collapsed {
      display: none;
      transition: 1s; 
    }
  }
}

#main {
  transition: 0.3s;
}

#right-sidebar {
  transition: 0.3s;
  top: 0; 
  bottom: 0; 
  right: 0; 
  border-left-width: 1px; 
}

.left-toggle-button {
  bottom: 30px;
  left: 22px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}