$slidePanelWidth: 383px;
$slidePanelBgColor: #fefefe;

.animated.slide-panel {
  animation-duration: 0.3s;
}

.slide-panel {
  width: $slidePanelWidth;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $slidePanelBgColor;
  min-height: 100%;
  border-left: 1px solid #cccccc;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  z-index: 999999;
}

.slide-panel__close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.slide-panel__body {
  padding-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
