$tabColor: var(--green);

.tab-control {
  border: 2px solid $tabColor;
  border-radius: 4px;
  display: flex;
}

.tab-control__button {
  flex: 1;
  text-align: center;
  padding: 0.5em 0;
  text-decoration: none;
  color: $tabColor;
  border: 1px solid $tabColor;

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.tab-control__button--active {
  background: $tabColor;
  color: white;
}
