/* colors */
.dark-grey {
  color: #2E3B4E;
}

.grey {
  color: #707A8B; 
}

.light-grey {
  color: #C7C7C7;
}

.b--light-grey {
  border-color: #C7C7C7;
}

.b--light-yellow {
  border-color: var(--light-yellow);
}

.min-vh-80 { 
  min-height: 80vh; 
}

.min-h-600 {
  min-height: 600px;
}

/* box - border, shadow, bg */
.box--br3 {
  border-radius: 0.3rem;
}

.box--shadow {
  box-shadow: 0 3px 5px -1px #00000026;
}

.box--shadow-header {
  box-shadow: 0 3px 10px 0 #0000000f;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-light-yellow {
  background-color: var(--light-yellow);
}

.box--height {
  height: 45px;
}

.box--scrollable {
  position: absolute;
  top: 180px;
  bottom: 1rem;
  overflow: auto;
}

.img--round-50 {
  width: 50px; 
  height: 50px;
  margin-left: -3rem;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

/* navbar hover */
.nav-ex:hover {
  background-color: #FEE8E0;
  cursor: pointer;
  border-left-color: var(--orange);
  border-left-width: 7px;
  padding-left: 1.7rem;
  
  .link {
    color: var(--orange);
    font-weight: 600;
  }
  
  .material-icons {
    color: var(--orange);
  }
}

.nav-cl:hover {
  background-color: #FEE8E0;
  cursor: pointer;
  border-left-color: var(--orange);
  border-left-width: 5px;
  padding-left: 1.6rem;

  .material-icons {
    color: var(--orange);
  }
}

/* Typescale */
/*
  light: 300
  regular: 400
  semi-bold: 600
*/

.h3--font {
  font-size: 50px;
  letter-spacing: 0;
  font-weight: 400;
}

.h5--font {
  font-size: 27px;
  letter-spacing: 0;
  font-weight: 500;
}

.h6--font {
  font-size: 22px;
  letter-spacing: 0.15px;
  font-weight: 600;
}

.body-1 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.3;
}

.subtitle-1 {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.15px;
  line-height: 22px;
}

.subtitle-2 {
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 600;
  line-height: 1.3;
}

.subtitle-2-regular {
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 400;
  line-height: 1.3;
}

.button--font {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.button--font-s {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 13px;
}

/* Tab at main screen (non sidebar) that become horizontal scroll when content wider than container  */

.scrollable-tab {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable-tab::-webkit-scrollbar {
  display: none;
}

.scrollable-tab__tab {
  background-color: rgb(255, 255, 255);
  border-bottom-color:rgba(0, 0, 0, 0.1);
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:rgba(0, 0, 0, 0.1);
  border-right-color:rgba(0, 0, 0, 0.1);
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:rgba(0, 0, 0, 0.1);
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:border-box;
  color:rgb(119, 119, 119);
  cursor:pointer;
  flex: 0 0 auto;
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:0;
  font-size:14px;
  font-weight:600;
  padding-bottom:16px;
  padding-left:32px;
  padding-right:32px;
  padding-top:16px;
  text-decoration-color:rgb(119, 119, 119);
  text-decoration-line:none;
  text-decoration-style:solid;
  transition-delay:0s;
  transition-duration:0.15s;
  transition-property:color;
  transition-timing-function:ease-in;
}

.scrollable-tab__tab:hover {
  background-color: #eee;
}

.scrollable-tab__tab--active {
  color: #333;
  border-bottom-color: #fff;
}