.toast {
  position: fixed;
  left: 50%;
	top: 3.5em;
  transform: translate(-50%, -50%);
  width: 30em;
  padding: 1.2em;
  color: var(--white);
  font-weight: 600;
  border-radius: 0.3rem;
	background-color: var(--orange);
  display: none;
  z-index: 9;
}

.toast--success {
	background-color: var(--orange);
}

.toast--error {
	background-color: var(--red);
}
