<div class="pv3 ph4 ba bt-1 bb-0 br-0 bl-0 b--black-10">
  <div class="flex flex-row items-center pointer">
    <i class="material-icons md-light-gray">keyboard_arrow_left</i>
    <%= link_to 'Back', 'javascript:history.back()', class: "db ttu link button--font light-grey" %>
  </div>
</div>
