<div class="ph4 flex flex-row justify-between items-center ba bt-1 bb-0 br-0 bl-0 b--light-grey" style="height: 86px">
  <div class="flex flex-row items-center justify-end w-100">
    <input
      type="submit"
      form="wizard-form"
      value="Save &amp; Continue"
      class="btn btn--primary btn--large" />
  </div>
</div>
