<div class="ph4 flex flex-row justify-between items-center ba bt-1 bb-0 br-0 bl-0 b--light-grey" style="height: 86px">
  <div class="dim flex flex-row items-center pointer">
    <i class="material-icons md-light-gray">keyboard_arrow_left</i>
    <%= link_to "Back", root_path, class: "db tr ttu link button--font light-grey" %>
  </div>

  <div class="flex flex-row items-center">
    <button
      form="wizard-form"
      name="commit"
      type="submit"
      class="db bg-white pv3 ph4 orange button--font bn box--br3 ttu link dim pointer"
      value="draft">Save Draft</button>
    <input
      type="submit"
      form="wizard-form"
      value="Save &amp; Continue"
      class="db pv3 ph4 bg-orange white button--font bn box--br3 ttu link dim pointer" />
  </div>
</div>
