<% rooms.each do |room| %>
  <div class="pa3">
    <div>
      <%= room.id %>
    </div>
    <div>
      <%= room.code %>
    </div>
    <div>
      <%= room.name %>
    </div>
    <div>
      <%= room.sections_count %>
    </div>
  </div>
<% end %>
