<%= select_tag :rows_count,
  options_for_select(["",*1..25], @rows_form.wz_rows_count),
  data: {
    remote: true,
    url: generate_rows_path(
      facility_id: @rows_form.facility_id,
      room_id: @rows_form.room_id,
      mode: 'new'),
    method: :post
  },
  class: "db"
%>

<div>
  <% rows.each do |row| %>
    <div class="dib pa3 outline ma2 fl">
      <%= row.name %>
      <%= link_to "Set Up Row",
        fetch_row_info_path(
          facility_id: row.facility_id,
          room_id: row.room_id,
          row_id: row.id,
          row_name: row.name,
          row_code: row.code),
          remote: true %>
    </div>
  <% end %>
  <div class="dib pa3 outline ma2 fl">
    <%= link_to "Add Row" %>
  </div>
</div>
