<div class="setup_success_card setup_success_card--step1 dn">
  <div class="setup_success_card__header">
    <span class="setup_success_card__title f3">Row Setup Success</span>
  </div>
  <div class="setup_success_card__body">
    <span class="fw6 f3 dark-grey">You've now completed the setup of your row</span>
    <p class="b gray">Shall we duplicate this row setup across other rows?</p>
    <p class="ma0 pa0 f6 gray">
      Pro tip: Duplicating row across other rows will allow you setup quicker, provided that you have
      similar number of shelves and trays. You can always edit the shelf or tray that contains
      different info.
    </p>
  </div>
  <div class="setup_success_card__footer">
    <button class="setup_success_card__button setup_success_card__button--confirm btn btn--primary">Yes, Duplicate</button>
    <button class="setup_success_card__button setup_success_card__button--cancel btn mr2">Cancel</button>
  </div>
</div>

<div class="setup_success_card setup_success_card--step2 dn">
  <div class="setup_success_card__header">
    <span class="setup_success_card__title f3">Row Duplication</span>
  </div>
  <div class="setup_success_card__body">
    <span class="fw6 f3 dark-grey">How do I duplicate to other row?</span>
    <p class="b gray">Simply select the rows that you want to duplicate into by selecting them.</p>
  </div>
  <div class="setup_success_card__footer">
    <button class="setup_success_card__button setup_success_card__button--duplicate btn btn--primary">Okay, Got It!</button>
    <button class="setup_success_card__button setup_success_card__button--cancel btn mr2">Cancel</button>
  </div>
</div>

<% content_for :before_body_end do %>
  <script>
    function isVisibleCard(el) {
      const rect = el.getBoundingClientRect();
      const leftBound = 100;
      const rightBound = 1200;
      return rect.left >= leftBound && rect.right <= rightBound;
    }

    function cancelCard() {
      hideFog();
      unhighlightCard();
      hideSuccessCard();
      hideStartDuplicateCard();
    }

    function hideSuccessCard() {
      $_(".setup_success_card--step1").classList.add("dn")
    }

    function showSuccessCard() {
      $_(".setup_success_card--step1").classList.remove("dn")
      $_(".setup_success_card--step1").classList.add("animated", "fadeIn")
    }

    function hideStartDuplicateCard() {
      $_(".setup_success_card--step2").classList.add("dn")
    }

    function showStartDuplicateCard() {
      $_(".setup_success_card--step2").classList.remove("dn")
      $_(".setup_success_card--step2").classList.add("animated", "fadeIn")
    }

    function hideFog() {
      $_(".fog").classList.add("dn")
    }

    function showFog() {
      $_(".fog").classList.remove("dn")
    }

    function highlightCard(card) {
      // change carousel zIndex
      carousel = card.closest(".carousel")
      carousel.classList.add("carousel--active")
    }

    function unhighlightCard() {
      $$(".carousel__card").forEach(function(elm) {
        elm.classList.remove("carousel__card--active")
      })
      $$(".carousel").forEach(function(elm) {
        elm.classList.remove("carousel--active")
      })
    }

    function findActiveCard(rowId) {
      const targetCards = $$(".carousel__card--" + rowId)
      let visibleCard = null
      targetCards.forEach(function(el) {
        el.classList.add("carousel__card--active")
        if (isVisibleCard(el)) {
          visibleCard = el
        }
      })
      return visibleCard
    }

    function showRowSetupSuccess(rowId) {
      const targetCard = findActiveCard(rowId)
      highlightCard(targetCard);
      const successCard = $_(".setup_success_card--step1")
      new Popper(targetCard, successCard, {
        positionFixed: true,
        placement: 'right'
      });
      showFog();
      showSuccessCard();
    }

    function startDuplicate() {
      hideSuccessCard();

      const targetCard = $_(".carousel__card--active")
      const duplicateCard = $_(".setup_success_card--step2")

      new Popper(targetCard, duplicateCard, {
        positionFixed: true,
        placement: 'right'
      });

      showStartDuplicateCard();
    }

    function startSelectRows() {
      hideStartDuplicateCard();
      const carousel = $_(".carousel--active")
      carousel.classList.replace("carousel--active", "carousel--active-select")
    }

    $$(".setup_success_card__button--cancel").on("click", cancelCard);
    $$(".setup_success_card__button--duplicate").on("click", startSelectRows);
    $_(".setup_success_card__button--confirm").on("click", startDuplicate);
  </script>
<% end %>
