<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home",root_path], 
        ["Facility Setup", facility_setup_new_path(facility_id: @rooms_info_form.facility_id)], 
        "Room Setup" 
    %>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box--shadow">
    <div class="pa4 min-h-600">
      <div class="fl w-70-l w-100 flex flex-column width-100">
        <h5 class="tl pa0 ma0 h5--font dark-grey">Room Setup</h5>
        <p class="mt2 body-1 grey">
          Awesome, you've just setup your facility! Room details are next...
        </p>
        <div id="rooms_grid" class="pv4 carousel-wrapper flex flex-row-l flex-column">
          <%= render partial: 'rooms_list',
            locals: {facility_id: @rooms_info_form.facility_id, rooms: @rooms_info_form.rooms}
          %>
        </div>
      </div>
    </div>

    <%= render partial: "bottom_back_button", 
        locals: { 
          right_button: false,
          left_button_url: facility_setup_new_path } %>
  </div>
</div>

<%= render "slide_panel" %>

<% content_for :before_body_end do %>
  <script>
    document.addEventListener("turbolinks:load", function() {
      bindCarousel();
    })
  </script>
<% end %>
