<% content_for :breadcrumb do %>
  <div class="flex itmes-center">
    <%= breadcrumbs ["Home",root_path], 
        ["Facility Setup", facility_setup_new_path], 
        ["Room Setup", facility_setup_rooms_info_path(facility_id: @room_summary_form.facility_id)], 
        "Row Setup" 
    %>
  </div>

  <div class="flex flex-row items-center">
    <i class="material-icons grey f6 mr3 dim">notifications</i>

    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 h2 w2 mr3 dib" alt="avatar">

    <h3 class="ma0 ttc f6 fw5 grey">User Name</h3>

    <i class="material-icons dim f6 grey ml2">keyboard_arrow_down</i>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white box-shadow">
    <div class="pa4 vh-75">
      <div class="fl w-70 flex flex-column">
        <h5 class="tl pa0 ma0 h5--font dark-grey">Great job so far, User!</h5>
        <p class="mt2 body-1">
          Boom, you just set up the room! Now let's configure your grow room by adding rows and shelves.
        </p>

        <div class="w-100 pv4">
          <%= link_to "get started", facility_setup_row_shelf_info_path(facility_id: @room_summary_form.facility_id, room_id: @room_summary_form.room_id), 
              class: "dim ph5 pv3 mv4 button bg-orange white bn br3--box ttu link pointer" %>
        </div>

        <p class="mv3 subtitle-2 grey">
          Here's a few quick tips to create rows, shelves and trays:
        </p>

        <div class="w-70 mt2">

          <% if @room_summary_form.has_sections %>
            <div class="mb4 flex flex-row">
              <img
                src="http://tachyons.io/img/logo.jpg"
                class="br-100 ba h3 w3 dib"
              >

              <div class="ml3 flex flex-column">
                <h3 class="f5 fw5 black mt0 mb2">Sections</h3>
                <p class="subtitle-2 fw4 grey ma0">You can split a room to a few sections, with each section can serve more specialized functions</p>
              </div>
            </div>
          <% end %>

          <div class="flex flex-row">
            <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 ba h3 w3 dib"
            >

            <div class="ml3 flex flex-column">
              <h3 class="f5 fw5 black mt0 mb2">Rows</h3>
              <p class="subtitle-2 fw4 grey ma0">You can customize your grow room by adding the number of rows you have in your grow room.</p>
            </div>
          </div>

          <div class="mv4 flex flex-row">
            <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 ba h3 w3 dib"
            >

            <div class="ml3 flex flex-column">
              <h3 class="f5 fw5 black mt0 mb2">Shevles</h3>
              <p class="subtitle-2 fw4 grey ma0">Does each row have multiple levels? You may add the levels by adding shelves.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <img
              src="http://tachyons.io/img/logo.jpg"
              class="br-100 ba h3 w3 dib"
            >

            <div class="ml3 flex flex-column">
              <h3 class="f5 fw5 black mt0 mb2">Trays</h3>
              <p class="subtitle-2 fw4 grey ma0">Do you put your plants on trays? if so, you may add how many trays you have on each shelf.</p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="fl w-30 flex justify-end">
        <%= render "layouts/timeline" %>
      </div>
    </div>
  </div>
</div>
