find me at view/facility_setup/room_summary.html.erb

<div class="pa3">
  <h2>Row Setup</h2>
  <h1>Room Setup successfully</h1>
  <p>Boom, you just set up the room!...</p>

  <a href="#0" class="link ba pa2 dib mh3">Continue</a>

  <div class="ph3">
      <h3>Rows</h3>
      <p>A row is a new cannabis...</p>
  </div>

  <div class="ph3">
      <h3>Shelves</h3>
      <p>A shelves...</p>
  </div>

  <div class="ph3">
      <h3>Trays</h3>
      <p>A trays...</p>
  </div>
</div>
