find me at view/facility_setup/room_summary.html.erb

<div class="pa3">
  <h2>Row Setup</h2>
  <h1>Room Setup successfully</h1>
  <p>Boom, you just set up the room!...</p>

  <%= link_to "Start", facility_setup_row_shelf_info_path(facility_id: @room_summary_form.facility_id, room_id: @room_summary_form.room_id), class: "dib br2 mv2 f5 link white ph4 pv3 ba b--green bg-green" %>

  <div class="ph3">
      <h3>Rows</h3>
      <p>A row is a new cannabis...</p>
  </div>

  <div class="ph3">
      <h3>Shelves</h3>
      <p>A shelves...</p>
  </div>

  <div class="ph3">
      <h3>Trays</h3>
      <p>A trays...</p>
  </div>
</div>
