<% content_for :breadcrumb do %>
  <div class="flex flex-row items-center justify-between">
    <div>
      <%= breadcrumbs ["Home",root_path], 
          ["Dashboard", root_path], 
          ["Facility Setup", facility_setup_new_path], 
          ["Room Setup"], 
          "Row Setup" 
      %>
    </div>

    <div class="flex flex-row items-center">
      <i class="material-icons gray f6 mr3 dim">notifications</i>

      <img
        src="http://tachyons.io/img/logo.jpg"
        class="br-100 h2 w2 mr3 dib" alt="avatar">

      <h3 class="ma0 ttc f6 fw5 gray">User Name</h3>

      <i class="material-icons dim f6 gray ml2">keyboard_arrow_down</i>
    </div>
  </div>
<% end %>

<div class="pa3">
  <h2>Row Setup</h2>
  <h1>Room Setup successfully</h1>
  <p>Boom, you just set up the room!...</p>

  <%= link_to "Start", facility_setup_row_shelf_info_path(facility_id: @room_summary_form.facility_id, room_id: @room_summary_form.room_id), class: "dib br2 mv2 f5 link white ph4 pv3 ba b--green bg-green" %>

  <div class="ph3">
      <h3>Rows</h3>
      <p>A row is a new cannabis...</p>
  </div>

  <div class="ph3">
      <h3>Shelves</h3>
      <p>A shelves...</p>
  </div>

  <div class="ph3">
      <h3>Trays</h3>
      <p>A trays...</p>
  </div>
</div>
