<div class="ph5 pv3 mt2 ba bt-0 bb-1 br-0 bl-0 b--black-10">
  <h2 class="tl pa0 ma0 fw4 dark-gray">Rooms Setup</h2>
</div>

<div class="pa3">
  <label>Room Count:</label>
  <%# <%= link_to "Room Count", fetch_rooms_path, remote: true %1> %>
  <%= select_tag :rooms_count,
    options_for_select(["",*1..25], ""),
    data: {
      remote: true,
      url: fetch_rooms_path(facility_id: @rooms_info_form.facility_id),
      method: :get
    }
  %>
</div>

<div class="pa3">
  <div id="rooms_grid">
    <%= render partial: 'rooms_list', locals: {rooms: @rooms_info_form.rooms} %>
  </div>
</div>
