<div class="ph5 pv3 ba bt-0 bb-1 br-0 bl-0 b--black-10">
  <h2 class="tl pa0 ma0 fw4 dark-gray">Room Setup</h2>
</div>

<div class="pv4 ph5" style="min-height: 692px">
  <div class="fl w-70 flex flex-column mb4">
    <h2 class="f2 tl pa0 ma0 fw4 dark-gray">Room Setup</h2>
    <p class="mt2 f5 fw5 dark-gray">
      Awesome, you've just setup your facility! Room details are next...
    </p>

    <div class="mt3 flex flex-column">
      <div class="mv4 flex flex-row">
        <div class="w-20">
          <span class="f6 fw6 mid-gray">Room Details</span>
        </div>

        <div class="w-80">
          <span class="f6 fw5 db mb1 gray">How many number of rooms in total?</span>
          <div class="input-reset gray br2 ba b--black-20 pa2 db w-30"></div>    
        </div>
      </div>

      <div class="w-100 flex flex-row">
        <div class="w-20 fl"></div>

        <div
          style="
                  display: grid; 
                  grid-template-columns: repeat(4, 1fr); 
                  grid-gap: 2rem;
                "
          class="w-80">
          <% @wizard_form.facility_room_count.times { |i| %>
            <div
              style="height: 254.7px; width: 168.8px;"
              class="ba b--black-10 bg-white br2 tc flex flex-column justify-between items-center">
              <div class="w-100 flex pa2 flex flex-column">
                <div class="w-100 flex items-center justify-between mb2">
                  <i class="material-icons gray f6 dim pointer">delete</i>

                  <div class="flex flex-row items-center justify-center">
                    <div class="br-100 bg-green pa3"></div>
                    <div class="br-100 bg-white pa2 absolute"></div>
                  </div>
                </div>

                <div class="w-100 flex flex-column">
                  <img
                    src="http://tachyons.io/img/logo.jpg"
                    class="br-100 ba h3 w3 dib center mb2"
                  >
                  <span class="mid-gray f6 fw6">Room id</span>
                  <span class="gray f7">Capacity: N/A</span>
                </div>

                <div class="mt3">
                  <div class="flex flex-row">
                    <div class="flex flex-row w-50 tl pr1">
                      <i class="material-icons gray f7">radio_button_unchecked</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="mid-gray f6 fw6">N/A</span>
                        <span class="gray f7">Sections</span>
                      </div>
                    </div>

                    <div class="flex flex-row w-50 tl pl1">
                      <i class="material-icons gray f7">radio_button_unchecked</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="mid-gray f6 fw6">N/A</span>
                        <span class="gray f7">Rows</span>
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-row mt2">
                    <div class="flex flex-row w-50 tl pr1">
                      <i class="material-icons gray f7">radio_button_unchecked</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="mid-gray f6 fw6">N/A</span>
                        <span class="gray f7">Shelves</span>
                      </div>
                    </div>

                    <div class="flex flex-row w-50 tl pl1">
                      <i class="material-icons gray f7">radio_button_unchecked</i>
                      <div class="flex flex-column w-100 ml2">
                        <span class="mid-gray f6 fw6">N/A</span>
                        <span class="gray f7">Trays</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="w-100 dim">
                <%= link_to @wizard_form.name_of_room(i),
                  facility_setup_save_path(
                  facility_id: @wizard_form.facility_id,
                  room_id: @wizard_form.facility_rooms[i].id,
                  step: @current_step),
                  class: "link flex f6 fw6 black justify-center w-100 pv2 bg-light-green #{'' if @wizard_form.room_id == @wizard_form.facility_rooms[i].id}"
                %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="fl w-30"></div>
</div>

<% content_for :before_body_end do %>
  <script>
    var updateChoice = function() {
      const el = $_('.have-section[value=true]')
      const question = $_('.have-section-question')
      const answer = $_('.have-section-answer')
      if (el.checked) {
        question.style.display = "block"
        answer.setAttribute('required', 'required')
      } else {
        question.style.display = "none"
        answer.removeAttribute('required')
      }
    }

    document.addEventListener("turbolinks:load", function() {
      updateChoice()
    })

    $_(".continue-button").on("click", function(e) {
      $_(".modal").classList.add("modal--openned")
    })

    $_(".continue-button").on("click", function(e) {
      $_(".modal").classList.add("modal--openned")
    })

    $$('.have-section').on("change", function() {
      updateChoice()
    })
  </script>
<% end %>
