<div class="vh-100 w-100 dt">
  <div class="dtc v-mid">
    <div class="measure center">
      <h1>Step 5 - Section</h1>
      <%= form_with(model: @facility, url: facility_setup_save_path(step: @current_step, facility_id: @facility.id), method: :post, local: true) do |f| %>
        <% if @facility.errors.any? %>
          <div id="error_explanation" class="red">
            <h3><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>
            <ul>
            <% @facility.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mt3">
          <%= f.submit "Save & Continue", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
