<div class="vh-100 w-100 dt">
  <div class="dtc v-mid">
    <div class="measure center">
      <h1>Facilityy Summary</h1>

      <span>Facility Name: <% @wizard_form.name %></span>

      <div class="mt3">
        <%= link_to "Setup a another facility (Wizard)", facility_setup_new_path, class: "link db mv3" %>
        <%= link_to "Close", root_path, class: "link db mv3" %>
      </div>
    </div>
  </div>
</div>
