<div class="rc-slide-panel animated slideOutRight" data-role="sidebar">
  <span class="rc-slide-panel__close-button dim">
    <i class="material-icons mid-gray md-18">close</i>
  </span>
  <div class="rc-slide-panel__body"></div>
</div>
