<div class="slide-panel animated dn slideOutRight">
  <span class="slide-panel__close-button dim">
    <i class="material-icons mid-gray md-18">close</i>
  </span>
  <div class="slide-panel__body pt0"></div>
</div>


<% content_for :before_body_end do %>
  <script>
    function showSlidePanel() {
      elm = $_(".slide-panel")
      elm.classList.replace("dn", "db");
      elm.classList.replace("slideOutRight", "slideInRight");
    }

    function hideSlidePanel() {
      elm = $_(".slide-panel")
      elm.classList.replace("slideInRight", "slideOutRight");
      setTimeout(function(){
        $_('.slide-panel').classList.replace('db', 'dn');
      }, 300);
    }

    $_('.slide-panel__close-button').on('click', function() {
      hideSlidePanel()
    });
  </script>
<% end %>
