<div id="toast" class="toast animated"></div>

<% content_for :before_body_end do %>
  <script>
    function fadeToast() {
      elm = $_('#toast')
      if (elm) {
        elm.classList.replace('fadeIn', 'fadeOut');
        setTimeout(function(){ $_('#toast').classList.remove('fadeOut', 'db'); }, 1000);
      } else {
        console.warn('Missing toast element - 400')
      }
    }
    function toast(message, type) {
      elm = $_('#toast')
      if (elm) {
        elm.innerHTML = message;
        elm.classList.add('fadeIn', 'toast--'+ type, 'db');
        setTimeout(function(){ fadeToast(); }, 3000);
      } else {
        console.warn('Missing toast element - 401')
      }
		}
  </script>
<% end %>
