<div id="toast" class="toast animated">
  TOAST
</div>

<% content_for :before_body_end do %>
  <script>
    function fadeToast() {
      elm = $_('#toast')
			elm.classList.replace('fadeIn', 'fadeOut');
      setTimeout(function(){ $_('#toast').classList.remove('fadeOut', 'db'); }, 1000);
    }
    function toast(message, type) {
      elm = $_('#toast')
			elm.innerHTML = message;
			elm.classList.add('fadeIn', 'toast--'+ type, 'db');
      setTimeout(function(){ fadeToast(); }, 3000);
		}
  </script>
<% end %>
