<% content_for :breadcrumb do %>
  <div class="flex items-center">
    <%= breadcrumbs ["Home", root_path], 'Work Dashboard' %>
  </div>
<% end %>

<div class="pa4">
  <div class="flex flex-column justify-between bg-white">

    <div class="ph5 pv4 f6">
      <%= react_component 'work_dashboard/WorkDashboardApp' %>
    </div>
  </div>
</div>