<div id="right-sidebar" style="width: 0px; min-height: 100%"
  class="top-0 bottom-0 right-0 fixed bg-white overflow-y-scroll overflow-x-hidden bl b--light-grey">
    
  <a href="#0" id="hide-sidebar" class="link outline-0 dim">
    <i class="material-icons mid-grey md-18 slide-panel__close-button">close</i>
  </a>

  <div id="right-sidebar-content" class="w-100 h-100 flex flex-column pt0"></div>
</div>
