<div 
  id="right-sidebar" 
  style="width: 0px;"
  class="vh-100 ba0 fixed bg-white shadow-1 overflow-y-scroll b--light-gray">

  <div class="ph4 pv3 flex items-center justify-between bb b--light-grey">
    <h1 class="f4 fw5 ma0">Modal Title</h1>

    <a href="#0" id="hide-sidebar" class="link outline-0 dim">
      <i class="material-icons mid-gray md-18">close</i>
    </a>
  </div>

  <div id="right-sidebar-content" class="w-30 db fixed z-1" style="height: 93vh"></div>
  
  <div class="w-100 pa4 bt b--light-grey absolute" style="bottom: 0; height: 90px">
    
  </div>
</div>
