<div id="right-sidebar" class="vh-100 ba0 fixed bg-white shadow-1 overflow-y-scroll b--light-gray" style="width: 0px;">
  <div class="ph4 tl mt2">
    <a href="#0" id="hide-sidebar" class="link gray fw1 outline-0">&times;</a>
  </div>
  <div id="right-sidebar-content" class="w-40 db fixed">
  </div>
</div>
