<div
  style="width: 271px; min-height: 4443 px"
  class="ba b--light-grey box--br3 bg-white">

  <h4 class="mh3 fw6 mt3 mb0">Summary for Setup Flow</h4>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 ba dib absolute"
      style="width: 45px; height: 45px; margin-left: -3rem;"
    >

    <div class="ml4">
      <h4 class="mv0 fw6">Facility</h4>
      <p class="mt1 mb0 ml2">Set up unlimited facilities, rooms and shelves for proper planning.</p>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 ba dib absolute"
      style="width: 45px; height: 45px; margin-left: -3rem;"
    >

    <div class="ml4">
      <h4 class="mv0 fw6">Rooms</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 ba dib absolute"
      style="width: 45px; height: 45px; margin-left: -3rem;"
    >

    <div class="ml4">
      <h4 class="mv0 fw6">Rows</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="bb bt-0 bl-0 br-0 ba b--light-grey pa3">
    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 ba dib absolute"
      style="width: 45px; height: 45px; margin-left: -3rem;"
    >

    <div class="ml4">
      <h4 class="mv0 fw6">Shelves</h4>
    </div>
  </div>

  <div style="min-height: 73px" class="pa3">
    <img
      src="http://tachyons.io/img/logo.jpg"
      class="br-100 ba dib absolute"
      style="width: 45px; height: 45px; margin-left: -3rem;"
    >

    <div class="ml4">
      <h4 class="mv0 fw6">Trays</h4>
    </div>
  </div>
</div>