<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="flex flex-row min-vh-100">
        <div class="main flex flex-column flex-auto">
          <main class="min-vh-100">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <%= render "layouts/before_body_end" %>
  </body>
</html>

