<!DOCTYPE html>
<html>
  <%= render "layouts/head", include_turbolink: true %>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="w-100 min-vh-100 bg-white flex flex-column justify-center items-center">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
